<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shahe_Link.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Shahe_Link.Properties.Settings>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WinKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GaugeName" serializeAs="String">
                <value />
            </setting>
            <setting name="NegateValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Speak" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BeforeValue" serializeAs="String">
                <value />
            </setting>
            <setting name="AfterValue" serializeAs="String">
                <value>{ENTER}</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
        </Shahe_Link.Properties.Settings>
    </userSettings>
</configuration>